h1
{
    color: darkslateblue;
    text-align: center;
    background-color: bisque;
    background-size: 1%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 2px, 2px, 5px;
    padding: 2%;
}

